<!DOCTYPE html>
<html>
  <head>
    <title>弹出页模拟接口</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/content.css">
  </head>
  <style>
      body{background: #eee;}
  </style>
  <body>
    <h1><%= title %> <a href="/">本地Mock></a></h1>

    <p>
      <h3>弹窗页</h3>
      <a href="https://dev-browser-plugin.qiang100.com/api/popupPage/getListOfChina">国内折扣</a>
      <a href="https://dev-browser-plugin.qiang100.com/api/popupPage/getListOfLowest">历史最低</a>
      <a href="https://dev-browser-plugin.qiang100.com/api/popupPage/getListOfMyFocus">我的关注</a>
      <a href="https://dev-browser-plugin.qiang100.com/api/popupPage/getListOfOversea">海淘折扣</a>
    </p>
    <p>
      <h3>内容页</h3>
      <a href="https://dev-browser-plugin.qiang100.com/api/contentPage/getProductPriceLine">价格走势</a>
      <a href="https://dev-browser-plugin.qiang100.com/api/contentPage/getAllMallPricce">全网比价</a>
      <a href="https://dev-browser-plugin.qiang100.com/api/contentPage/getProductEvaluateInfo">好评率</a>
      <a href="https://dev-browser-plugin.qiang100.com/api/contentPage/getBrandInfo">品牌信息</a>
      <a href="https://dev-browser-plugin.qiang100.com/api/contentPage/getBrandInfo?name=Sony%2F索尼%20G8142%20Xperia%20XZ%20Premium智能手机%20索尼xzp&brandName=Sony%2F索尼&url=https%3A%2F%2Fdetail.tmall.com%2Fitem.htm%3Fspm%3Da220m.1000858.1000725.5.55ee3bb2YCKwax%26id%3D550656854809%26skuId%3D3357274824383%26areaId%3D340100%26user_id%3D782731205%26cat_id%3D2%26is_b%3D1%26rn%3D10356deff389ef9745bc27bb7c4507f0">品牌信息带参数</a>
    </p>

    <p>
      <h3>设置页</h3>
      <a href="https://dev-browser-plugin.qiang100.com/api/optionPage/uploadOptions">上传设置</a>
      <a href="https://dev-browser-plugin.qiang100.com/api/optionPage/downloadOptions">下载设置</a>
    </p>

    <p>
      <h3>获取用户信息</h3>
      <a href="https://dev-browser-plugin.qiang100.com/api/bgPage/getUserInfo">获取用户信息</a>
      <a href="https://dev-browser-plugin.qiang100.com/api/contentPage/getAppVersion">获取版本信息</a>
    </p>

 </body>
</html>
