<!DOCTYPE html>
<html>

<head>
  <title>弹出页模拟接口</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/content.css">
</head>

<body>
  <h1>
    <%= title %>
      <a href="/api">devApi</a>
  </h1>
  <p>
    <a href="/images/content-logo.png">图片路径</a>

  </p>
  <p>
    <h3>弹窗页mock</h3>
    <a href="/popupPage/getListOfChina">国内折扣</a>
    <a href="/popupPage/getListOfLowest">历史最低</a>
    <a href="/popupPage/getListOfMyFocus">我的关注</a>
    <a href="/popupPage/getListOfOversea">海淘折扣</a>
  </p>
  <p>
    <h3>内容页mock</h3>
    <a href="/contentPage/getProductPriceLine">价格走势</a>
    <a href="/contentPage/getAllMallPricce">全网比价</a>
    <a href="/contentPage/getProductEvaluateInfo">好评率</a>
    <a href="/contentPage/getBrandInfo">品牌信息</a>
  </p>

  <p>
    <h3>设置页mock</h3>
    <a href="/optionPage/uploadOptions">上传设置</a>
    <a href="/optionPage/downloadOptions">下载设置</a>
  </p>

  <!--    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/remote.js"></script>
 -->
</body>

</html>
